.click-left {
	position: relative;
}
.click-left::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--click-color);
    opacity: 0;
    transform-origin: left;
	transition: transform .45s, opacity .45s;
}
.click-left:active::after {
	transition: none;
	opacity: .7;
	transform: scaleX(0);
}