:root {

	--c-green-1: #69f0ae;
	--c-green-2: #00e676 ;
	--c-green-3: #3BCB90;
	--c-green-4: #5BD672;
	--c-green-5: #32D538;
	--c-green-6: #2CBF42;


	--c-blue-1: #4ACBFE;
	--c-blue-2: #49A5FE;
	--c-blue-3: #4092FE;
	--c-blue-4: #008DFF;
	--c-blue-5: #0085FF;
	--c-blue-6: #1352ba;
	--c-blue-7: #083279;
	--c-blue-8: #0e2555;
	--c-blue-9: #0A1835;
	--c-blue-10: #4788D1;
	--c-blue-11: #3B7AB8;



	--c-red-1: #FEF6F7;
	--c-red-2: #FDE8E4;
	--c-red-3: #FBD6CF;
	--c-red-4: #E89B9B;
	--c-red-5: #f56c6c;
	--c-red-6: #F4594E;
	--c-red-7: #EE0C00;

	--c-orange-1: #ffab91;
	--c-orange-2: #F99C6C;
	--c-orange-3: #ff7043;
	--c-orange-4: #F4581D;
	--c-orange-5: #DB4615;

	--c-yellow-1: #ffff8d;
	--c-yellow-2: #ffff00;
	--c-yellow-3: #ffea00;
	--c-yellow-4: #ffd600;
	--c-yellow-5: #F9C120;

	--c-grey-1: #fafafa;
	--c-grey-2: #f5f5f5;
	--c-grey-3: #eeeeee;
	--c-grey-4: #e0e0e0;
	--c-grey-5: #bdbdbd;
	--c-grey-6: #9e9e9e;
	--c-grey-7: #757575;
	--c-grey-8: #616161 ;
	--c-grey-9: #424242;
	--c-grey-10: #212121;

	--c-grey-blue-1: #7C8496;
}
